@model ReporteSemanalViewModel
@{
    ViewData["Title"] = "Reporte semanal";

    string FormatearFecha(DateTime fecha)
    {
        return fecha.ToString("MM.ddd");
    }

    var resumenMontos = new ResumenMontoViewModel()
            {
                Ingresos = Model.Ingresos,
                Gastos = Model.Gastos,
                Total = Model.Total
            };

}
<partial name="_SubMenu" model="SubMenuTransacciones.Semanal" />
<div class="card">
    <div class="card-header">
        Reporte semanal
    </div>
    <div class="card-body">

        <partial name="_NavegarPorMeses" model="@Model.FechaReferencia" />

        <partial name="_ResumenMontos" model="@resumenMontos" />

        <div style="overflow-y: auto;">
            <table class="table" style="font-size: 20px;">
            <thead>
                <tr>
                    <th>Semana</th>
                    <th style="text-align: right;">Ingresos</th>
                    <th style="text-align: right;">Gastos</th>
                </tr>
            </thead>

            @foreach (var transaccion in Model.TransaccionesPorSemana)
                {
                   <tr>
                       <td>
                           <a style="text-decoration: none;"
                            asp-action="Index"
                            asp-route-año="@Model.FechaReferencia.Year"
                            asp-route-mes="@Model.FechaReferencia.Month">
                            @FormatearFecha(transaccion.FechaInicio) ~ @FormatearFecha(transaccion.FechaFin)
                           </a>
                       </td>
                    <td class="activo" style="text-align: right;">
                        @transaccion.Ingresos
                       </td>
                    <td class="pasivo" style="text-align: right;">
                        @transaccion.Gastos
                       </td>
                   </tr> 
                }

        </table>
        </div>
    </div>
</div>