@model IEnumerable<IndiceCuentasViewModel>

@{
    ViewData["Title"] = "Cuentas";

    string FormatearBalance(decimal balance)
    {
        return Math.Abs(balance).ToString("N");
    }

    string ObtenerClaseBalance(decimal balance)
    {
        return balance >= 0 ? "activo" : "pasivo";
    }
}

<div class="card">
    <div class="card-header">
        Listado de cuentas
    </div>

    <div class="row">
        <div class="col-2">
            <div style="padding:20px;">
                <a asp-action="Crear" class="btn btn-primary mb-3">Nuevo</a>
            </div>
        </div>
    </div>


    <div class="card-body">
        <div class="contenedor-totales mb-3">
        <div>
            <div>
                <string>Activos</string>
            </div>
            <div class="activo">
                @FormatearBalance(Model.Where(x=>x.Balance > 0).Sum(x=>x.Balance))
            </div>
        </div>
        <div>
            <div>
                <string>Pasivos</string>
            </div>
            <div class="pasivo">
                @FormatearBalance(@Model.Where(x=>x.Balance < 0).Sum(x=>x.Balance))
            </div>
        </div>
        <div>
            <div>
                <strong>Total</strong>
            </div>
            <div>
                    @FormatearBalance(Model.Sum(X=>X.Balance))
            </div>
        </div>
        </div>
    </div>

    <div class="accordion-body acordeon-cuentas">
        @foreach(var tipoCuenta in Model)
        {
            <div class=" accordion-item">
                <h2 class="accordion-header" id="cabeceraUno">
                    @{
                        var id = tipoCuenta.TipoCuenta.Replace(" ","");
                        var dataBSTarget = "#" + id;
                        var claseTipoCuenta = ObtenerClaseBalance(tipoCuenta.Balance);
                    }
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="@dataBSTarget">
                        <span class="me-3">
                            <span>
                                <strong>@tipoCuenta.TipoCuenta</strong>
                            </span>
                            <span class="@claseTipoCuenta">
                                @FormatearBalance(tipoCuenta.Balance)
                            </span>
                        </span>
                    </button>
                </h2>
                <div id="@id" class="accordion-collapse collapse show">
                    <div>
                        <ul class="list-group">
                            @foreach(var cuenta in tipoCuenta.Cuentas)
                            {
                                var claseCuenta = ObtenerClaseBalance(cuenta.Balance);
                                <li class="list-group-item">
                                    <span>
                                        <a asp-action="Detalle" asp-route-id ="@cuenta.Id">@cuenta.Nombre</a>
                                        <a class="btn btn-primary" asp-controller="Cuentas" asp-action="Editar" asp-route-id="@cuenta.Id">
                                            <i class="bi bi-pencil-fill"></i>
                                        </a>
                                        <a asp-controller="Cuentas" asp-action="Eliminar" asp-route-id="@cuenta.Id" class="btn btn-danger">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </span>
                                    <span class="@claseCuenta">@FormatearBalance(cuenta.Balance)</span>
                                    
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>